.headerNotMain {
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    align-items: center;
    padding: 40px 9%;
    background-color: #214320;
    height: 50px;
    margin-bottom: 50px;
}

.logo {
    font-size: 25px;
    font-weight: 700;
    color: white;
    top: 38px;
    z-index: 5;
}

.nav{
    display: flex;
    justify-content: right;
    width: 1200px;
}

.nav ul{
    display: flex;
    padding: 0;
    gap: 10px;
    align-items: center;
}

.nav li {
    color: white;
    margin-left: 50px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    text-align: center;
    z-index: 5;
    white-space: nowrap;
    cursor: pointer;
}

.nav a:hover {
    border-bottom: 2px solid white;
    z-index: 5;
}

img{
    width:17px;
    height: 17px;
}

.nav li:hover{
    transform: scale(1.09);
}

.noLink{
    color: inherit;
    text-decoration: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}
