.container {
    display: flex;
    justify-content: center;
    gap: 51px;
    margin-top: 313px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    width: 200px;
    height: 200px;
    text-align: center;
    border: 2px solid #214320;
    border-radius: 40px;
    padding: 30px 20px 30px 20px;
}

.card img {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease;
}

.container .card:hover img { 
    transform: scale(1.1);
}

.card_p {
    text-align: center;
    color: #214320;
    font-weight: bold;
    font-size: 25px;
} 

h2 {
    font-size: 55px;
    color: #466145;
    font-family: 'Poppins', sans-serif;
    font-weight: 750;
}
