
.toursPage {
    padding-top: 110px;
}

.pageTitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
}

.servicesGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.highLink{
    padding: 0;
    color:black;
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 135px;
    cursor: pointer;
}

.highLink ul {
    gap: 2px;
    display: flex;
    padding: 0;
    margin: 0;
}

.highLink li {
    transition: all .55s ease;
    z-index: 5;
    white-space: nowrap;
}

.highLink li:hover{
  color: rgb(89, 89, 89);
}

.highLink a:hover {
    border-bottom: 2px solid white;
    z-index: 5; 
}

.search input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 40px;
    margin-top: 0px;
    margin-left: 135px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 135px;
  }
  
  .search-icon {
    color: #ccc;
    font-size: 20px;
    margin-right: 10px;
  }
  
  .search img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 145px;
    top: 9px;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin-top: 0px;
  }
  
  .search img:hover {
    transform: scale(1.1);
  }
  
  .search-input {
    padding: 5px;
    font-size: 16px;
    width: 400px;
  }
  
  .search-input:focus {
    outline: none;
  }

  .search {
    display: flex;
    position: relative;
    width: 530px;
    margin-top: -50px;
  }

  .reloadIcon {
    width: 20px;
    height: 20px;
    margin-left: 400px;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .reloadIcon:hover {
    transform: scale(1.1);
  }

.title{
  display: flex;
  font-size: 55px;
  padding-left: 595px;
  color: #214320;
  margin: 0;
}
.allTours{
  display: flex;
  gap: 175px;
  margin-top: 10px;  
  background-color: #FAFAFA;
  width: 100%;
  padding-top: 10px;
  /* padding-top: 16px; */
  padding-bottom: 24px;
  overflow-x: auto;
}

.filter{
  display: flex;
  flex-direction: column;
  gap: 14px;
  background-color: #FFFFFF;
  border: 1px solid #D7D7D7 ;
  box-shadow: 0px 4px 20px 3px rgba(102, 102, 102, 0.25);
  width: 287px;
  height: auto;
  border-radius: 30px;
  margin-left: 135px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 24px;
  min-width: 287px;
}

.spesificFilter{
  margin-left: 30px;
  font-size: 14px;
  color:#76B174;
  font-weight: 600;
}

.minMax{
  display: flex;
  padding-top: 7px;
  gap: 7px;
}

.costMinMax{
  background-color: #F1F1F1;
  height: 57px;
  width: 108px;
  border-radius: 17px;
  padding-left: 13px;
}

.spesificFilter h5{
  font-size: 14px;
  color:black;
  margin-top: 10px;
  font-weight: 500;
}

.spesificFilter input{
  display: flex;
  background-color: transparent;
  border-color: transparent;
  width: 80px;
  color: #747474;
}

.FilerPrintOrChoose{
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-top: 7px;
}

.FilerPrintOrChooseInput{
  background-color: #F1F1F1;
  height: 57px;
  width: 223px;
  border-radius: 17px;
  padding-left: 13px;
  margin-top: 7px;
  padding-top: 1px;
}

.plus{
  margin-top: -30px;
  margin-left: 135px;
}

.minus{
  margin-top: -24px;
  margin-left: 170px;
}

.ratingCheckbox{
  display: flex;
  gap:6px;
  align-items: center;
  padding: 0px;
}

.ratingCenter{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0px;
  align-items: center;
  color: #2C2C2C;
  font-weight: 100;
}


.ratingLeft{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0px;
  align-items: center;
  color: #2C2C2C;
  font-weight: 100;
  align-items: flex-start;
}

.inputFilter input{
  width:189px;
  height: 26px;
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 10px;
  color: #747474;
  font-size: 12px;
}

.FilerPrintOrChoose h6{
  color: black;
  font-weight: bold;
  font-size: 12px;
  padding-top: 5px;
  cursor: pointer;
}

.FilerPrintOrChoose h6:hover{
  transform: scale(1.03);
  transition: transform 0.7s ease;
  color:#747474
}

.buttonUse{
  display: flex;
  justify-content: center;
  height: 40px;
  /* width: auto; */
  align-items: center;
  background-color: #214320;
  border-radius: 20px;
  color: #FFFFFF;
  font-size: 12px;
  cursor: pointer;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.buttonUse:hover{
  transform: scale(1.07);
  transition: transform 0.1s ease;
}

.buttonLose{
  display: flex;
  justify-content: center;
  width: 96px;
  height: 40px;
  align-items: center;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #214320;
  color: #214320;
  font-size: 12px;
  cursor: pointer;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.buttonLose:hover{
  transform: scale(1.07);
  transition: transform 0.1s ease;
}

.overCatalog{
  display: flex;
  gap: 430px;
  height: 20px;
}

.overCatalog h6{
  font-size: 14px;
  font-weight: 600;
}

.sortContainer {
  display: flex;
  align-items: center;
  max-height: 20px;

}

.sortLabel {
  margin-right: 3px; 
  font-size: 14px;
  color:#76B174;
  font-weight: 600;
  align-items: center;
  padding-top: 0px;
  cursor: pointer;
}

.sortSelect {
  width: auto; 
  font-size: 14px;
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  margin-top: -5px;
  cursor: pointer;
}

.sortSelect:hover{
  color:#747474;
}

.catalog{
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.catalogTours{
  display: flex;
  gap: 23px;
  flex-wrap: wrap;
}

.cardTour{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 390px;
  height: 450px;
  border: 1px solid #757575;
  border-radius: 30px;
  display: block;
  overflow: hidden;
}

.cardTour img{
  width:390px;
  height: 259px;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.cardTour img:hover{
  transform: scale(1.009);
}

.shortDescriptionTour{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 4px;
  margin-top: 11px;
  margin-left: 25px;
  margin-right: 20px;
}

.shortDescriptionTour h1{
  font-size: 20px;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}

.shortDescriptionTour h1:hover{
  transform: scale(1.008);
  transition: transform 0.1s ease;
  color:#4a4a4a;
}

.ratingCircle{
  display: flex;
  gap: 2px;
}

.shortDescriptionTour p{
  font-size: 10px;
  font-weight: bold;
}

.firstLine{
  display: flex;
  gap: 6px;
  padding: 0px;
  margin: 0px;
}

.cost{
  display: flex;
  gap: 4px;
  align-items: center;
  justify-items:flex-end;
  height: 44px;
  width: 180px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  background-color: #f4f4f4;
  border-radius: 20px;
  margin-top: 3px;
}

.cost p{
  font-size: 20px;
  font-weight: bold;
}

.additionalText p{
  font-size: 12px;
  color: #757575;
  margin-top: -2px;
  font-weight: bold;
}

.lastLine{
  display: flex;
  gap: 8px;
  align-items: center;
}

.noLink{
  color: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
